.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50vw;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.nav-container {
  position: relative;
  z-index: 1;
}

h4 {
  color: rgba(255, 255, 255, 0.699);
}

@media screen and (max-width: 768px) {
  .about-container {
    width: 80vw;
  }
}

.nav-dropdown {
  position: relative;
  z-index: 1;
}

.nav-dropdown li {
  border-bottom: 1px solid white;
}