/* *Banner */

h1 {
  color: yellow;
  font-size: 50px;
  text-shadow: 0 0 5px #fff,
  0 0 10px #fff,  
  0 0 70px yellow;
}

h2 {
  color: white;
  font-size: 32px;
  text-shadow: 0 0 5px #fff,
  0 0 10px #fff,  
  0 0 70px white;
}

.info-subtitle {
  color: greenyellow;
  font-size: 32px;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
  flex-grow: 0;
  margin-top: 50px;
  /* flex-wrap: wrap; */
}

.info-content {
  margin-right: 32px;
}

.info-img {
  display: flex;
  align-items: center;
  /* height: 300px; */
}

.info-container img {
  /* max-height: 100%;
  max-width: 100%; */
  border-radius: 360px;
  max-width: 100%;
  height: auto;
  /* Maintain aspect ratio */
  flex: 1 1 auto;
  /* Allow images to grow and shrink */
  object-fit: cover;
}

#img-mobile {
  display: none;
}

#contact-btn {
  padding: 16px;
  transform: skewx(-20deg);
  border: none;
  font-family: inherit;
  font-size: 24px;
  margin-top: 12px;
}

#projects-btn {
  padding: 16px;
  transform: skewx(-20deg);
  border: none;
  font-family: inherit;
  font-size: 24px;
  margin-top: 12px;
}

#about-btn {
  padding: 16px;
  transform: skewx(-20deg);
  border: none;
  font-family: inherit;
  font-size: 24px;
  margin-top: 12px;
}

/* *Tech Section */
.tech-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0 auto;
}

.tech-container h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 32px;
  text-shadow: none;
  font-style: italic;
}

/* .img-card {
  padding: 24px;
  border-radius: 24px;
  background-color: grey;
} */

@media screen and (max-width: 768px) {
  /* *Banner */
  h1 {
    font-size: 30px
  }

  .info-container {
    flex-direction: column-reverse;
  }

  .info-subtitle {
    font-size: 20px;
  }

  #img-desktop {
    display: none;
  }

  #img-mobile {
    display: block;
  }

  #about-btn, #projects-btn, #contact-btn {
    font-size: 16px;
    padding: 12px;
  }

  .info-content {
    margin-right: 0px;
    text-align: center;
  }
}